.team {
  background-color: var(--secondary-accent-color);
  .section-title {
    margin-bottom: 50px;
  }
}

.workers {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.workers-card {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
}

.workers-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
}

.card-content {
  justify-content: center;
  background-color: var(--primary-white-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.workers-title,
.workers-position {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

.workers-position {
  margin-bottom: 16px;
}
